Repository huangsam/leetcode: changes, and which lefthook commands are due for each by the changed paths.
All: gradle-check, ruff-check, mypy-check, isort-check

lefthook.yml:

# https://lefthook.dev/configuration/output.html
output:
  - failure
  - summary

# https://lefthook.dev/configuration/Hook.html
pre-commit:
  parallel: true
  commands:
    gradle-check:
      glob: "*.java"
      run: ./gradlew build
    ruff-check:
      glob: "*.py"
      run: ruff check python
    mypy-check:
      glob: "*.py"
      run: mypy python
    isort-check:
      glob: "*.py"
      run: isort --check-only python

Add comments to isBalanced.py
  python/isBalanced.py
Due: ruff-check, mypy-check, isort-check

Reformat findTheDifference.py
  python/findTheDifference.py
Due: ruff-check, mypy-check, isort-check

Remove redundant comment in countBits
  python/countBits.py
Due: ruff-check, mypy-check, isort-check

Refine comment in countNodes.py
  python/countNodes.py
Due: ruff-check, mypy-check, isort-check

Implement findPeakElement.py
  python/findPeakElement.py
Due: ruff-check, mypy-check, isort-check

Optimize runtime of isHappy.py
  python/isHappy.py
Due: ruff-check, mypy-check, isort-check

Add JavaDoc to VersionControl
  java/helper/VersionControl.java
Due: gradle-check

Optimize firstBadVersion.py
  python/firstBadVersion.py
Due: ruff-check, mypy-check, isort-check

Implement divideTwoIntegers.py
  python/divideTwoIntegers.py
Due: ruff-check, mypy-check, isort-check

Enhance ReverseInteger.java
  java/ReverseInteger.java
Due: gradle-check

Implement SwapPairs.java
  java/SwapPairs.java
Due: gradle-check

Implement addBinary.py
  python/addBinary.py
Due: ruff-check, mypy-check, isort-check

Implement addBinary again
  python/addBinary.py
Due: ruff-check, mypy-check, isort-check

Remove string interpol from addBinary
  python/addBinary.py
Due: ruff-check, mypy-check, isort-check

Shorten logic for addBinaryManual
  python/addBinary.py
Due: ruff-check, mypy-check, isort-check

Implement generateParenthesis.py
  python/generateParenthesis.py
Due: ruff-check, mypy-check, isort-check

Optimize generateParenthesis.py
  python/generateParenthesis.py
Due: ruff-check, mypy-check, isort-check

Simplify isValidSudoku.py
  python/isValidSudoku.py
Due: ruff-check, mypy-check, isort-check

Fix grammar in addBinary.py
  python/addBinary.py
Due: ruff-check, mypy-check, isort-check

Update gradle to 8.14.3
  gradle/wrapper/gradle-wrapper.properties
Due: none

Add link emoji to urls.sh
  urls.sh
Due: none

Change grep match to single quotes
  urls.sh
Due: none

Update repository to use uv
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Add comments to reverseWords.py
  lefthook.yml
  python/reverseWords.py
Due: ruff-check, mypy-check, isort-check

Update repository to use uv (#6)
  .github/workflows/ci.yml
  lefthook.yml
  pyproject.toml
  python/reverseWords.py
  uv.lock
Due: ruff-check, mypy-check, isort-check

Remove requirements.txt
  requirements.txt
Due: none

Update README.md
  README.md
Due: none

Update uv dependencies
  uv.lock
Due: none

Implement countAndSay.py
  python/countAndSay.py
Due: ruff-check, mypy-check, isort-check

Implement climbStairs.py
  python/climbStairs.py
Due: ruff-check, mypy-check, isort-check

Add missing link to countAndSay.py
  python/countAndSay.py
Due: ruff-check, mypy-check, isort-check

Consolidate to one approach
  python/findMinRotated.py
Due: ruff-check, mypy-check, isort-check

Normalize mid across search solutions
  python/findMinRotated2.py
  python/searchRange.py
  python/searchRotated.py
  python/searchRotated2.py
Due: ruff-check, mypy-check, isort-check

Add comments to findMinRotated solutions
  python/findMinRotated.py
  python/findMinRotated2.py
Due: ruff-check, mypy-check, isort-check

Apply ruff formatting
  python/climbStairs.py
  python/findMinRotated2.py
Due: ruff-check, mypy-check, isort-check

Adjust comments in findMinRotated2.py
  python/findMinRotated2.py
Due: ruff-check, mypy-check, isort-check

Optimize findMedianSortedArrays.py
  python/findMedianSortedArrays.py
Due: ruff-check, mypy-check, isort-check

Use divmod for hammingDistance.py
  python/hammingDistance.py
Due: ruff-check, mypy-check, isort-check

Add comments to inorderTraversal.py
  python/inorderTraversal.py
Due: ruff-check, mypy-check, isort-check
