Repository huangsam/leetcode: changes, and which lefthook commands are due for each by the changed paths.
All: gradle-check, ruff-check, mypy-check, isort-check

lefthook.yml:

# https://lefthook.dev/configuration/output.html
output:
  - failure
  - summary

# https://lefthook.dev/configuration/Hook.html
pre-commit:
  parallel: true
  commands:
    gradle-check:
      glob: "*.java"
      run: ./gradlew build
    ruff-check:
      glob: "*.py"
      run: uv run ruff check python
    mypy-check:
      glob: "*.py"
      run: uv run mypy python
    isort-check:
      glob: "*.py"
      run: uv run isort --check-only python

Add resources to README
  README.md
Due: none

Remove comment for Java solution runs
  README.md
Due: none

Remove redundant resource
  README.md
Due: none

Update README sentence
  README.md
Due: none

Add emojis to each link
  README.md
Due: none

Add certain repos as resources
  README.md
Due: none

Consolidate to one README section
  README.md
Due: none

Update uv dependencies
  uv.lock
Due: none

Update gradle to 9.0.0
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update gradle to 9.1.0
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update github action versions
  .github/workflows/ci.yml
Due: none

Update CI job name to reflect 25
  .github/workflows/ci.yml
Due: none

Bump gradle to 9.2.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Bump gradle to 9.2.1
  gradle/wrapper/gradle-wrapper.properties
Due: none

Add study folder to gitignore
  .gitignore
Due: none

Add comments to no-doc solutions
  python/hammingDistance.py
  python/insertionSortList.py
  python/isSymmetric.py
  python/maxArea.py
  python/numJewelsInStones.py
  python/removeElements.py
  python/removeNthFromEnd.py
  python/searchRange.py
  python/singleNumber.py
  python/sortLinkedList.py
  python/sumOfLeftLeaves.py
  python/totalHammingDistance.py
Due: ruff-check, mypy-check, isort-check

Remove emojis from urls.sh
  urls.sh
Due: none

Improve solution visibility in urls.sh
  urls.sh
Due: none

Update docstring in hamming py
  python/totalHammingDistance.py
Due: ruff-check, mypy-check, isort-check

Implement gcdOfStrings.py
  python/gcdOfStrings.py
Due: ruff-check, mypy-check, isort-check

Update GitHub CI action and simplify pre-commit
  .github/workflows/ci.yml
  .python-version
  lefthook.yml
  pyproject.toml
  uv.lock
Due: none

Fix formatting for gcdOfStrings.py
  python/gcdOfStrings.py
Due: ruff-check, mypy-check, isort-check

Update CI versions for Java flows
  .github/workflows/ci.yml
Due: none

Set the setup-java cache to gradle
  .github/workflows/ci.yml
Due: none

Update README once more
  README.md
Due: none

Implement kidsWithCandles.py
  python/kidsWithCandles.py
Due: ruff-check, mypy-check, isort-check

Implement canPlaceFlowers.py
  python/canPlaceFlowers.py
Due: ruff-check, mypy-check, isort-check

Implement reverseVowels.py
  python/reverseVowels.py
Due: ruff-check, mypy-check, isort-check

Add alternate solution to moveZeroes
  python/moveZeroes.py
Due: ruff-check, mypy-check, isort-check

Add import checks to ruff selection
  pyproject.toml
Due: none

Address critical issues in java
  java/IsValidBST.java
  java/KthSmallestBST.java
  java/LevelAverage.java
  java/MinimumDifferenceBST.java
Due: gradle-check

Address critical issues in python
  python/buildTree.py
  python/constructMaximumBinaryTree.py
  python/diameterOfBinaryTree.py
  python/searchRange.py
  python/threeSum.py
Due: ruff-check, mypy-check, isort-check

Address moderate issues in java
  java/LongestCommonPrefix.java
  java/MergeTwoLists.java
  java/ZigZagConversion.java
Due: gradle-check

Address moderate issues in python
  python/constructMaximumBinaryTree.py
  python/copyRandomList.py
  python/isIsomorphic.py
  python/isPalindrome.py
  python/isSubPath.py
  python/isValid.py
  python/wordPattern.py
Due: ruff-check, mypy-check, isort-check
