Repository huangsam/leetcode: changes, and which lefthook commands are due for each by the changed paths.
All: gradle-check, ruff-check, mypy-check

lefthook.yml:

# https://lefthook.dev/configuration/output.html
output:
  - failure
  - summary

# https://lefthook.dev/configuration/Hook.html
pre-commit:
  parallel: true
  commands:
    gradle-check:
      glob: "*.java"
      run: ./gradlew build
    ruff-check:
      glob: "*.py"
      run: uv run ruff check python
    mypy-check:
      glob: "*.py"
      run: uv run mypy python

Add iterative inorder to IsValidBST
  java/solution/IsValidBST.java
Due: gradle-check

Enhance javadoc for FindHIndex
  java/solution/FindHIndex.java
Due: gradle-check

Implement isValidBST.py
  python/isValidBST.py
Due: ruff-check, mypy-check

Adjust leetc.py to skip subdirectory searches
  leetc.py
Due: ruff-check, mypy-check

Capitalize comments in FirstBadVersion
  java/solution/FirstBadVersion.java
Due: gradle-check

Elaborate on DP solution for JumpGameTwo
  java/solution/JumpGameTwo.java
Due: gradle-check

Adjust deleteDuplicates for O(1) space
  python/deleteDuplicates.py
Due: ruff-check, mypy-check

Convert gradle assets from groovy to kotlin
  build.gradle
  build.gradle.kts
  settings.gradle
  settings.gradle.kts
Due: none

Update uv dependencies
  uv.lock
Due: none

Fix import warnings on IDE
  pyproject.toml
  python/__init__.py
  python/buildTree.py
  python/constructMaximumBinaryTree.py
  python/copyRandomList.py
  python/countNodes.py
  python/deleteDuplicates.py
  python/deleteMiddle.py
  python/deleteNode.py
  python/diameterOfBinaryTree.py
  python/findBottomLeftValue.py
  python/flattenBinaryTree.py
  python/hasPathSum.py
  python/inorderTraversal.py
  python/insertionSortList.py
  python/invertTree.py
  python/isBalanced.py
  python/isCycle.py
  python/isSubPath.py
  python/isSymmetric.py
  python/isValidBST.py
  python/maxDepth.py
  python/mergeTrees.py
  python/minDepth.py
  python/modifiedList.py
  python/partitionList.py
  python/recentCounter.py
  python/removeElements.py
  python/removeNthFromEnd.py
  python/reverseBetween.py
  python/rotateRight.py
  python/sameTree.py
  python/sortLinkedList.py
  python/sumOfLeftLeaves.py
  python/twoSumBST.py
Due: ruff-check, mypy-check

Update gradle to 9.5.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Normalize midpoint calc in algos
  java/solution/SearchRotatedArray.java
  python/mySqrt.py
Due: gradle-check, ruff-check, mypy-check

Optimize python bfs with deque
  python/findBottomLeftValue.py
Due: ruff-check, mypy-check

Shorten findKthLargest.py
  python/findKthLargest.py
Due: ruff-check, mypy-check

Remove redundant assignment in py
  python/findDisappearedNumbers.py
Due: ruff-check, mypy-check

Optimize deleteNode.py
  python/deleteNode.py
Due: ruff-check, mypy-check

Optimize findDisappearedNumbers.py
  python/findDisappearedNumbers.py
Due: ruff-check, mypy-check

Add type hint to nested helpers
  python/findMedianSortedArrays.py
  python/longestBalanced.py
Due: ruff-check, mypy-check

Fix typos for climbStairs.py
  python/climbStairs.py
Due: ruff-check, mypy-check

Update gradle to 9.6.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Update uv dependencies
  .gitignore
  pyproject.toml
  uv.lock
Due: none

Implement numTrees.py
  python/numTrees.py
Due: ruff-check, mypy-check

Implement solveSudoku.py
  python/solveSudoku.py
Due: ruff-check, mypy-check

Update ci.yml with latest actions
  .github/workflows/ci.yml
Due: none

Add complexity info to solveSudoku.py
  python/solveSudoku.py
Due: ruff-check, mypy-check

Run sync against solved problems
  SOLUTIONS.md
  problems.json
Due: none

Update gradle to 9.8.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Due: none

Implement combine.py
  python/combine.py
Due: ruff-check, mypy-check

Apply pruning to combine.py
  python/combine.py
Due: ruff-check, mypy-check

Remove combinations.py from roster
  python/combinations.py
Due: ruff-check, mypy-check

Rename permutations.py to permute.py
  python/permute.py
Due: ruff-check, mypy-check

Rewrite permute.py to align with combine.py
  python/permute.py
Due: ruff-check, mypy-check
