Repository huangsam/leetcode: changes, and which lefthook commands are due for each by the changed paths.
All: gradle-check, ruff-check, mypy-check

lefthook.yml:

# https://lefthook.dev/configuration/output.html
output:
  - failure
  - summary

# https://lefthook.dev/configuration/Hook.html
pre-commit:
  parallel: true
  commands:
    gradle-check:
      glob: "*.java"
      run: ./gradlew build
    ruff-check:
      glob: "*.py"
      run: uv run ruff check python
    mypy-check:
      glob: "*.py"
      run: uv run mypy python

Optimize isAnagram.py
  python/isAnagram.py
Due: ruff-check, mypy-check

Optimize canConstruct.py
  python/canConstruct.py
Due: ruff-check, mypy-check

Add __pycache__ to gitignore
  .gitignore
Due: none

Remove Counter logic from groupAnagrams
  python/groupAnagrams.py
Due: ruff-check, mypy-check

Fix docs for optimized solutions
  python/canConstruct.py
  python/groupAnagrams.py
  python/isAnagram.py
Due: ruff-check, mypy-check

Implement findMaxAverage.py
  python/findMaxAverage.py
Due: ruff-check, mypy-check

Update uv dependencies
  uv.lock
Due: none

Implement maxVowels.py
  python/maxVowels.py
Due: ruff-check, mypy-check

Implement longestOnes.py
  python/longestOnes.py
Due: ruff-check, mypy-check

Implement sync command in leetc CLI
  AGENTS.md
  leetc.py
Due: ruff-check, mypy-check

Optimize leetc.py sync performance
  AGENTS.md
  leetc.py
  problems.json
Due: ruff-check, mypy-check

Update README.md with new sync
  README.md
Due: none

Update README for accessibility
  README.md
Due: none

Enforce 2-space indent for json
  .editorconfig
Due: none

Update gradle to 9.3.0
  gradle/wrapper/gradle-wrapper.properties
Due: none

Add missing link to longestOnes.py
  python/longestOnes.py
Due: ruff-check, mypy-check

Implement longestSubarray.py
  python/longestSubarray.py
Due: ruff-check, mypy-check

Implement largestAltitude.py
  python/largestAltitude.py
Due: ruff-check, mypy-check

Sync solved problems to assets
  AGENTS.md
  problems.json
Due: none

Bump python version to 3.14
  .python-version
Due: none

Improve JavaDoc for various Java solutions
  java/AddTwoNumbers.java
  java/FirstBadVersion.java
  java/IntToRoman.java
  java/IsValidBST.java
  java/JumpGameTwo.java
  java/KthSmallestBST.java
  java/LetterCombinations.java
  java/LongestCommonPrefix.java
  java/LongestConsecutive.java
  java/MergeKLists.java
  java/MergeSortedArray.java
  java/MergeTwoLists.java
  java/MinStack.java
  java/MinimumArrows.java
  java/MinimumDifferenceBST.java
  java/PalindromeLinkedList.java
  java/PalindromeNumber.java
  java/ProductExceptSelf.java
  java/RandomizedSet.java
  java/SearchRotatedArray.java
  java/SetMatrixZeroes.java
  java/SortedArrayToBST.java
  java/SummaryRanges.java
  java/TotalNQueens.java
  java/TwoSum.java
  java/ZigZagConversion.java
Due: gradle-check

Adjust para format in JavaDoc solutions
  java/AddTwoNumbers.java
  java/BinaryTreeRightSide.java
  java/FindHIndex.java
  java/LetterCombinations.java
  java/LongestCommonPrefix.java
  java/MinimumDifferenceBST.java
  java/SetMatrixZeroes.java
Due: gradle-check

Fix space complexity for JavaDoc
  java/BinaryTreeRightSide.java
  java/LevelAverage.java
Due: gradle-check

Implement pivotIndex.py
  python/pivotIndex.py
Due: ruff-check, mypy-check

Shorten the logic for pivotIndex
  python/pivotIndex.py
Due: ruff-check, mypy-check

Add link to pivotIndex.py
  AGENTS.md
  problems.json
  python/pivotIndex.py
Due: ruff-check, mypy-check

Implement findDifference.py
  python/findDifference.py
Due: ruff-check, mypy-check

Implement uniqueOccurrences.py
  python/uniqueOccurrences.py
Due: ruff-check, mypy-check

Sync agentic docs and problems cache
  AGENTS.md
  problems.json
Due: none

Implement closeStrings.py
  AGENTS.md
  problems.json
  python/closeStrings.py
Due: ruff-check, mypy-check

Implement equalPairs.py
  python/equalPairs.py
Due: ruff-check, mypy-check

Update agentic docs and problem cache
  AGENTS.md
  problems.json
Due: none

Add link to kidsWithCandles.py
  AGENTS.md
  problems.json
  python/kidsWithCandles.py
Due: ruff-check, mypy-check

Rename solution to kidsWithCandies.py
  python/kidsWithCandies.py
Due: ruff-check, mypy-check

Fix space complexity for equalPairs.py
  python/equalPairs.py
Due: ruff-check, mypy-check

Implement removeStars.py
  python/removeStars.py
Due: ruff-check, mypy-check

Shorten docs in findKthLargest.py
  python/findKthLargest.py
Due: ruff-check, mypy-check
