Repository huangsam/leetcode: changes, and which lefthook commands are due for each by the changed paths.
All: gradle-check, ruff-check, mypy-check

lefthook.yml:

# https://lefthook.dev/configuration/output.html
output:
  - failure
  - summary

# https://lefthook.dev/configuration/Hook.html
pre-commit:
  parallel: true
  commands:
    gradle-check:
      glob: "*.java"
      run: ./gradlew build
    ruff-check:
      glob: "*.py"
      run: uv run ruff check python
    mypy-check:
      glob: "*.py"
      run: uv run mypy python

Implement asteroidCollision.py
  AGENTS.md
  problems.json
  python/asteroidCollision.py
Due: ruff-check, mypy-check

Update gradle wrapper jar
  gradle/wrapper/gradle-wrapper.jar
Due: none

Enhance url detection in leetc
  leetc.py
Due: ruff-check, mypy-check

Implement maxSubArray.py
  AGENTS.md
  problems.json
  python/maxSubArray.py
Due: ruff-check, mypy-check

Implement firstMissingPositive.py
  AGENTS.md
  problems.json
  python/firstMissingPositive.py
Due: ruff-check, mypy-check

Implement minimumDeletions.py
  AGENTS.md
  problems.json
  python/minimumDeletions.py
Due: ruff-check, mypy-check

Implement reverseString.py
  AGENTS.md
  problems.json
  python/reverseString.py
Due: ruff-check, mypy-check

Implement containsDuplicate.py
  AGENTS.md
  problems.json
  python/containsDuplicate.py
Due: ruff-check, mypy-check

Add line breaks to isBalanced.py
  python/isBalanced.py
Due: ruff-check, mypy-check

Apply formatting to minimumDeletions.py
  python/minimumDeletions.py
Due: ruff-check, mypy-check

Shorten the docs for isBalanced.py
  python/isBalanced.py
Due: ruff-check, mypy-check

Shorten isCycle.py explanation
  python/isCycle.py
Due: ruff-check, mypy-check

Rename memo to dp for bottoms-up
  python/uniquePaths.py
  python/uniquePaths2.py
Due: ruff-check, mypy-check

Implement strStr.py
  python/strStr.py
Due: ruff-check, mypy-check

Simplify bounds for generateParenthesis
  python/generateParenthesis.py
Due: ruff-check, mypy-check

Implement decodeString.py
  AGENTS.md
  problems.json
  python/decodeString.py
Due: ruff-check, mypy-check

Reformat decodeString.py
  python/decodeString.py
Due: ruff-check, mypy-check

Implement recentCounter.py
  AGENTS.md
  problems.json
  python/recentCounter.py
Due: ruff-check, mypy-check

Simplify findMedianSortedArrays.py
  python/findMedianSortedArrays.py
Due: ruff-check, mypy-check

Implement predictPartyVictory.py
  AGENTS.md
  problems.json
  python/predictPartyVictory.py
Due: ruff-check, mypy-check

Remove redundant hint in recentCounter
  python/recentCounter.py
Due: ruff-check, mypy-check

Adjust docs in predictPartyVictory.py
  python/predictPartyVictory.py
Due: ruff-check, mypy-check

Implement longestBalanced.py
  AGENTS.md
  problems.json
  pyproject.toml
  python/longestBalanced.py
Due: ruff-check, mypy-check

Update uv dependencies
  uv.lock
Due: none

Adjust formatting of IsValidBST.java
  java/IsValidBST.java
Due: gradle-check

Implement deleteMiddle.py
  AGENTS.md
  problems.json
  python/deleteMiddle.py
Due: ruff-check, mypy-check

Add more Java assets to gitignore
  .gitignore
Due: none

Update gradle to 9.4.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Update cargo dependencies
  uv.lock
Due: none

Add missing <p> to Java solutions
  java/LongestConsecutive.java
  java/MergeSortedArray.java
  java/MinimumArrows.java
  java/ProductExceptSelf.java
  java/TotalNQueens.java
Due: gradle-check

Rename solution bank to SOLUTIONS.md
  README.md
  SOLUTIONS.md
  leetc.py
Due: ruff-check, mypy-check

Add minimal agentic docs
  AGENTS.md
Due: none

Add agentic guidance for problem discovery
  AGENTS.md
Due: none

Rename helper to util for Java solutions
  java/solution/FirstBadVersion.java
  java/util/VersionControl.java
Due: gradle-check

Add agentic guidance on testing
  AGENTS.md
Due: none
