Repository huangsam/leetcode: changes, and which lefthook commands are due for each by the changed paths.
All: gradle-check, ruff-check, mypy-check

lefthook.yml:

# https://lefthook.dev/configuration/output.html
output:
  - failure
  - summary

# https://lefthook.dev/configuration/Hook.html
pre-commit:
  parallel: true
  commands:
    gradle-check:
      glob: "*.java"
      run: ./gradlew build
    ruff-check:
      glob: "*.py"
      run: uv run ruff check python
    mypy-check:
      glob: "*.py"
      run: uv run mypy python

Rename reverseWords2 to reverseWords3
  python/reverseWords3.py
Due: ruff-check, mypy-check

Fix the specific paragraphs
  java/AddTwoNumbers.java
  java/BinaryTreeRightSide.java
  java/FindHIndex.java
  java/FirstBadVersion.java
  java/LongestCommonPrefix.java
  java/SetMatrixZeroes.java
Due: gradle-check

Fix one of the JavaDoc
  java/JumpGameTwo.java
Due: gradle-check

Add line break between pre block
  java/MinimumArrows.java
Due: gradle-check

Bring productexceptself spacing
  java/ProductExceptSelf.java
Due: gradle-check

Resolve randomset spacing
  java/RandomizedSet.java
Due: gradle-check

Address spacing in summaryranges
  java/SummaryRanges.java
Due: gradle-check

Address zig-zag spacing
  java/ZigZagConversion.java
Due: gradle-check

Address all whitespace concerns
  python/countNodes.py
  python/findKthLargest.py
  python/lengthOfLongestSubstring.py
Due: ruff-check, mypy-check

Add time and space complexity to java
  java/AddTwoNumbers.java
  java/BinaryTreeRightSide.java
  java/FindHIndex.java
  java/FirstBadVersion.java
  java/GasStation.java
  java/IntToRoman.java
  java/IsValidBST.java
  java/JumpGameTwo.java
  java/KthSmallestBST.java
  java/LetterCombinations.java
  java/LevelAverage.java
  java/LongestCommonPrefix.java
  java/LongestConsecutive.java
  java/MergeKLists.java
  java/MergeSortedArray.java
  java/MergeTwoLists.java
  java/MinStack.java
  java/MinimumArrows.java
  java/MinimumDifferenceBST.java
  java/NumberOfIslands.java
  java/PalindromeLinkedList.java
  java/PalindromeNumber.java
  java/ProductExceptSelf.java
  java/RandomizedSet.java
  java/ReverseInteger.java
  java/SearchRotatedArray.java
  java/SetMatrixZeroes.java
  java/SortedArrayToBST.java
  java/SummaryRanges.java
  java/SwapPairs.java
  java/TotalNQueens.java
  java/TwoSum.java
  java/ZigZagConversion.java
Due: gradle-check

Reformat java complexity info
  java/AddTwoNumbers.java
  java/BinaryTreeRightSide.java
  java/FindHIndex.java
  java/FirstBadVersion.java
  java/GasStation.java
  java/IntToRoman.java
  java/IsValidBST.java
  java/JumpGameTwo.java
  java/KthSmallestBST.java
  java/LetterCombinations.java
  java/LevelAverage.java
  java/LongestCommonPrefix.java
  java/LongestConsecutive.java
  java/MergeKLists.java
  java/MergeSortedArray.java
  java/MergeTwoLists.java
  java/MinStack.java
  java/MinimumArrows.java
  java/MinimumDifferenceBST.java
  java/NumberOfIslands.java
  java/PalindromeLinkedList.java
  java/PalindromeNumber.java
  java/ProductExceptSelf.java
  java/RandomizedSet.java
  java/ReverseInteger.java
  java/SearchRotatedArray.java
  java/SetMatrixZeroes.java
  java/SortedArrayToBST.java
  java/SummaryRanges.java
  java/SwapPairs.java
  java/TotalNQueens.java
  java/TwoSum.java
  java/ZigZagConversion.java
Due: gradle-check

Reformat GasStation solution
  java/GasStation.java
Due: gradle-check

Fix isSymmetric docstring
  python/isSymmetric.py
Due: ruff-check, mypy-check

Revise docstrings manually in python
  python/addBinary.py
  python/addMinimum.py
  python/constructMaximumBinaryTree.py
  python/copyRandomList.py
  python/inorderTraversal.py
  python/isCycle.py
  python/isIsomorphic.py
  python/isPalindrome.py
  python/moveZeroes.py
Due: ruff-check, mypy-check

Apply more formatting to java solutions
  java/AddTwoNumbers.java
  java/BinaryTreeRightSide.java
  java/FindHIndex.java
  java/FirstBadVersion.java
  java/GasStation.java
  java/IntToRoman.java
  java/IsValidBST.java
  java/JumpGameTwo.java
  java/KthSmallestBST.java
  java/LetterCombinations.java
  java/LevelAverage.java
  java/LongestCommonPrefix.java
  java/LongestConsecutive.java
  java/MergeKLists.java
  java/MergeSortedArray.java
  java/MergeTwoLists.java
  java/MinStack.java
  java/MinimumArrows.java
  java/MinimumDifferenceBST.java
  java/NumberOfIslands.java
  java/PalindromeLinkedList.java
  java/PalindromeNumber.java
  java/ProductExceptSelf.java
  java/RandomizedSet.java
  java/ReverseInteger.java
  java/SearchRotatedArray.java
  java/SetMatrixZeroes.java
  java/SortedArrayToBST.java
  java/SummaryRanges.java
  java/SwapPairs.java
  java/TotalNQueens.java
  java/TwoSum.java
  java/ZigZagConversion.java
Due: gradle-check

Remove extra space from python docs
  python/groupAnagrams.py
  python/isAnagram.py
  python/isCycle.py
  python/isIsomorphic.py
  python/isPalindrome.py
  python/isSubPath.py
  python/isSubsequence.py
  python/isValid.py
  python/isValidSudoku.py
  python/jumpGame.py
  python/kidsWithCandles.py
  python/lengthOfLastWord.py
  python/lengthOfLongestSubstring.py
  python/majorityElement.py
  python/maxProfit.py
  python/maxProfits2.py
  python/mergeSortedArray.py
Due: ruff-check, mypy-check

Cleanup redundant space in python docs
  python/canConstruct.py
  python/canPlaceFlowers.py
  python/containsNearbyDuplicate.py
  python/countBits.py
  python/countNodes.py
  python/diameterOfBinaryTree.py
  python/findKthLargest.py
  python/flattenBinaryTree.py
  python/majorityElement.py
  python/romanToInt.py
  python/rotateArray.py
  python/rotateImage.py
  python/rotateRight.py
  python/searchInsert.py
  python/searchRange.py
  python/simplifyPath.py
  python/spiralOrder.py
  python/strStr.py
  python/threeSum.py
  python/totalHammingDistance.py
  python/twoSumSorted.py
  python/wordPattern.py
Due: ruff-check, mypy-check

Add leetc.py as singular CLI companion
  README.md
  leetc.py
  pyproject.toml
  python/containsNearbyDuplicate.py
  urls.sh
  uv.lock
Due: ruff-check, mypy-check

Update uv dependencies
  uv.lock
Due: none

Update leetc with better insights
  leetc.py
Due: ruff-check, mypy-check

Simplify README content
  README.md
Due: none

Add AGENTS.md to repo
  AGENTS.md
Due: none

Adjust spacing in python docs
  python/containsNearbyDuplicate.py
  python/deleteDuplicates.py
  python/deleteNode.py
  python/findKthLargest.py
  python/groupAnagrams.py
  python/hasPathSum.py
  python/insertInterval.py
  python/isAnagram.py
  python/maxDepth.py
  python/moveZeroes.py
  python/reverseBetween.py
  python/reverseVowels.py
  python/reverseWords3.py
  python/searchRotated.py
Due: ruff-check, mypy-check

Reformat python doc lines under 100 chars
  python/addBinary.py
  python/basicCalculator.py
  python/combinations.py
  python/constructMaximumBinaryTree.py
  python/containsNearbyDuplicate.py
  python/copyRandomList.py
  python/countAndSay.py
  python/findBottomLeftValue.py
  python/findDuplicates.py
  python/findMinRotated2.py
  python/findPeakElement.py
  python/fizzBuzz.py
  python/flattenBinaryTree.py
  python/hammingDistance.py
  python/isHappy.py
  python/isSubPath.py
  python/isSymmetric.py
  python/maxArea.py
  python/mergeTrees.py
  python/permutations.py
  python/singleNumber.py
  python/sortColors.py
Due: ruff-check, mypy-check

Move links to bottom of agentic docs
  AGENTS.md
Due: none

Revert "Move links to bottom of agentic docs"
  AGENTS.md
Due: none

Remove redundant section from agentic docs
  AGENTS.md
Due: none

Implement gameOfLife.py
  python/gameOfLife.py
Due: ruff-check, mypy-check

Fix grammar in gameOfLife comment
  python/gameOfLife.py
Due: ruff-check, mypy-check

Refactor productExceptSelf for readability
  python/productExceptSelf.py
Due: ruff-check, mypy-check

Implement increasingTriplet.py
  python/increasingTriplet.py
Due: ruff-check, mypy-check

Implement stringCompression.py
  python/stringCompression.py
Due: ruff-check, mypy-check

Add context to single write approach
  python/moveZeroes.py
Due: ruff-check, mypy-check

Implement maxOperations.py
  python/maxOperations.py
Due: ruff-check, mypy-check

Optimize groupAnagrams.py
  python/groupAnagrams.py
Due: ruff-check, mypy-check
